<div id="image">
<button id="let" routerLink="/test1" class="btn">

          <p class="neon_a" id="neon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          
           TEST1
           
           </p>
         
   </button>
   <button id="let1" routerLink="/test2" class="btn">

          <p class="neon_a" id="neon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          
           TEST2
           
           </p>
         
   </button>
   <button id="let2" routerLink="/login" class="btn">

          <p class="neon_a" id="neon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          
           TEST3
           
           </p>
         
   </button>

    <div>
    <h1 style="color:white">TEST1</h1>
    <p style="color:white">ONLY NAME OF ANIMALS ARE SHOWN</p>
    </div>
     <div></div>
     <br>
    <div>
    <h1 style="color:white">TEST2</h1>
    <p style="color:white">ONLY NAME OF ANIMALS ARE SHOWN WITH NEW POSITIONS</p>
    </div>
     <br>
    <div>
    <h1 style="color:white">TEST3</h1>
    <p style="color:white">BOTH NAME AND IMAGES OF ANIMALS ARE SHOWN</p>
    </div>

</div>
