<nav style="background:black;height:120px" class="navbar navbar-expand-lg navbar-dark">

 <div class=" navbar-collapse" id="navbarSupportedContent">
    <h1 style="color:blue;font-size:40px"> SERIAL POSITION EFFECT  </h1>
    <ul class="navbar-nav mr-auto" id="home">
     <ul class="navbar-nav mr-auto">
  <li class="nav-item active">
  <a class="nav-link" style="color:red" href="https://hci-iitg.vlabs.ac.in/SerialPositionEffect_simulator.html">INSTRUCTIONS</a>
  </li>
  <li class="nav-item active">
  <a class="nav-link" routerLink="/prev_years"></a>
  </li>
  <li class="nav-item active">
  <a class="nav-link" routerLink="/contact-us"></a>
  </li>
  <div id="gap"></div>
</ul>
    </ul>
    

       <ul class="navbar-nav mr-auto" id="home">
       <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
     
       
        </li>
        <li class="nav-item active">
       
        </li>
        </ul>
        </ul>

     
  
  </div>

</nav>
